@use './theme.module.scss';

.page {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.container {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.sectionTitle {
  font-size: theme.$largeFont;
  margin-top: theme.$largeSpacing;
  text-align: center;
}

.smallContent {
  font-size: theme.$smallFont;
  margin-top: theme.$largeSpacing;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
}

.smallTitle {
  font-size: theme.$largeFont;
  margin-top: theme.$largeSpacing;
  text-align: center;
}

.skillsContainer {
  display: grid;
  grid-template-columns: 18rem 18rem;
  grid-template-rows: 10rem 10rem;
  margin-right: 2rem;
  margin-top: theme.$smallSpacing;

  @media (max-width: 620px) {
    grid-template-columns: 18rem;
  }
}

.list {
  margin: 1.5rem;
  list-style: none;
  text-align: end;
  font-size: theme.$smallFont;
}

.listTitle {
  font-size: theme.$megaFont;
}
