@use './theme.module.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: theme.$smallFont;
  margin-bottom: theme.$largeSpacing;
  margin-top: theme.$largeSpacing;
  color: rgba(0, 0, 0, 0.7);
}

.toTop {
  padding: 0.75rem 2.5rem;
  margin: theme.$smallSpacing;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-weight: normal;
  transition: all 100ms ease-in-out;
  font-size: theme.$mediumFont;
  cursor: pointer;
  color: black;

  &:hover {
    transform: scaleX(1.05);
  }
}

.iconContainer {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 2rem;
  margin: 0 0.5rem;
  color: theme.$purple;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.copyButton {
  position: relative;

  &:hover .copyCaption {
    transform: translate(-0, -1.5rem) scale(1);
  }
  &:focus .copyCaption {
    opacity: 0.7;
  }
  &:active .copyCaption {
    transform: translate(-0, -1.5rem) scale(0.7);
  }
}

.copyCaption {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  background-color: theme.$purple;
  color: white;
  padding: 3px 5px 2px 4px;
  border-radius: 3px;
  font-size: 0.7rem;
  transform: translate(-0.4rem, -1.5rem) scale(0);
  justify-content: center;
  transition: all 100ms ease-in-out;
}

.clip {
  color: white;
  margin-right: 3px;
}
