@use './theme.module.scss';

.name {
  display: flex;
  font-size: 4rem;
  cursor: pointer;
  margin-top: 8rem;

  &:hover {
    opacity: 0.8;
  }
}

.title {
  font-size: theme.$largeFont;
  color: rgba(0, 0, 0, 0.7);
  font-weight: normal;
  cursor: default;
}

.greeting {
  font-size: theme.$largeFont;
  margin-top: theme.$smallSpacing;
  font-weight: normal;
  text-decoration: underline;
}
