.name {
  display: flex;
  font-size: 4rem;
  cursor: pointer;
  margin: 8rem 1rem 0rem 1rem;

  &:hover {
    opacity: 0.8;
  }
}

.title {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  cursor: default;
  margin: 0 1rem;
}

.greeting {
  font-size: 1.5rem;
  margin: 3rem 1rem;
}
