//Color Pallette
@use './Colors.module.scss';

@keyframes slideUp {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes slideRight1 {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(0);
  }
  70% {
    transform: scale(1);
  }
}

@keyframes slideRight2 {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.navContainer {
  display: flex;
  margin: 0 1rem;
}

.navList {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: flex-start;
  @media (max-width: 620px) {
    flex-direction: column;
  }
}

.navLinkDarkOrange {
  background-color: Colors.$darkOrange;
  margin: 0;
  border-radius: 0.5rem;
  transition: all 100ms ease-in-out;
  color: white;
  cursor: pointer;
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  font-weight: normal;
  animation: slideUp 1s 1;

  &:hover {
    transform: scaleX(1.05);
  }
  &:focus {
    box-shadow: 0 0 0 3px Colors.$darkOrange;
    color: Colors.$darkOrange;
    background-color: Colors.$background;
  }
  @media (max-width: 620px) {
    margin: 0.5rem 0;
  }
}

.navLinkOrange {
  background-color: Colors.$orange;
  margin: 0 1.5rem;
  border-radius: 0.5rem;
  transition: all 100ms ease-in-out;
  color: white;
  cursor: pointer;
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  font-weight: normal;
  animation: slideRight1 1s 1;

  &:hover {
    transform: scaleX(1.05);
  }
  &:focus {
    box-shadow: 0 0 0 3px Colors.$orange;
    color: Colors.$orange;
    background-color: Colors.$background;
  }
  @media (max-width: 620px) {
    margin: 0.5rem 0;
  }
}

.navLinkYellow {
  background-color: Colors.$yellow;
  margin: 0;
  border-radius: 0.5rem;
  transition: all 100ms ease-in-out;
  color: white;
  cursor: pointer;
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  font-weight: normal;
  animation: slideRight2 1s 1;

  &:hover {
    transform: scaleX(1.05);
  }

  &:focus {
    box-shadow: 0 0 0 3px Colors.$yellow;
    color: Colors.$yellow;
    background-color: Colors.$background;
  }
  @media (max-width: 620px) {
    margin: 0.5rem 0;
  }
}

.buttonContainer {
  &:hover {
    overflow: hidden;
  }
}
