//Color Pallette
@use './Colors.module.scss';

.navContainer {
  display: flex;
}

.navList {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: flex-start;
  @media (max-width: 620px) {
    flex-direction: column;
  }
}

.navLinkDarkOrange {
  background-color: Colors.$darkOrange;
  margin: 0;
  border-radius: 0.5rem;
  transition: all 100ms ease-in-out;
  color: white;
  cursor: pointer;
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  font-weight: normal;

  &:hover {
    transform: scaleX(1.05);
  }
  &:focus {
    box-shadow: 0 0 0 3px Colors.$darkOrange;
    color: Colors.$darkOrange;
    background-color: Colors.$background;
  }
  @media (max-width: 620px) {
    margin: 0.5rem 0;
  }
}

.navLinkOrange {
  background-color: Colors.$orange;
  margin: 0 1.5rem;
  border-radius: 0.5rem;
  transition: all 100ms ease-in-out;
  color: white;
  cursor: pointer;
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  font-weight: normal;

  &:hover {
    transform: scaleX(1.05);
  }
  &:focus {
    box-shadow: 0 0 0 3px Colors.$orange;
    color: Colors.$orange;
    background-color: Colors.$background;
  }
  @media (max-width: 620px) {
    margin: 0.5rem 0;
  }
}

.navLinkYellow {
  background-color: Colors.$yellow;
  margin: 0;
  border-radius: 0.5rem;
  transition: all 100ms ease-in-out;
  color: white;
  cursor: pointer;
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  font-weight: normal;

  &:hover {
    transform: scaleX(1.05);
  }
  &:focus {
    box-shadow: 0 0 0 3px Colors.$yellow;
    color: Colors.$yellow;
    background-color: Colors.$background;
  }
  @media (max-width: 620px) {
    margin: 0.5rem 0;
  }
}
