@use './Colors.module.scss';

.optionsContainer {
  position: absolute;
  display: flex;
  top: 2rem;
  right: 4rem;
  @media (max-width: 420px) {
    right: none;
    left: 3rem;
  }
}

.optionsButtonL {
  border: none;
  background-color: Colors.$background;
  font-size: 18px;
  margin-right: 4rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 420px) {
    margin-right: 3rem;
  }
}

.optionsButtonR {
  border: none;
  background-color: Colors.$background;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
