@use './theme.module.scss';

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.container {
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.sectionTitle {
  font-size: theme.$largeFont;
  margin-top: theme.$mediumSpacing;
  text-align: center;
  transform: translateY(2rem);
}

.tileContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: 48rem;
  margin-top: 6rem;
}

.content1 {
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
}
