.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.container {
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin: 3rem 0;
}

.sectionTitle {
  font-size: 2rem;
  margin: 6rem 0 3rem 0;
  text-align: center;
}

.tileContainer {
  display: flex;
  flex-flow: column wrap;
  max-width: 48rem;
  margin-top: 6rem;
}

.content1 {
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
}
