$background: #f3f1ec;
$white: #f7f7f7;
$yellow: #f2b026;
$orange: #ec7c32;
$darkOrange: #e24d2b;
$purple: #4c0821;
$blue: #0a66c2;
$darkGray: #6b6b6b;
$lightGray: #cccccc;

$smallFont: 1rem;
$mediumFont: 1.2rem;
$largeFont: 1.5rem;
$megaFont: 3rem;

$smallSpacing: 3rem;
$mediumSpacing: 4rem;
$largeSpacing: 6rem;
$hugeSpacing: 8rem;
